---
import '@/styles/global.css'
import '@/styles/typography.css'

import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { cn } from '@/lib/utils'

const { isWide = false } = Astro.props
---

<!doctype html>
<html lang={SITE.locale}>
  <Head>
    <slot name="head" />
  </Head>

  <style>
    body {
      overflow-y: auto;
      padding-left: 10px;
      scrollbar-color: #353535 transparent;
    }

    * {
      scrollbar-color: #353535 transparent;
      scrollbar-3dlight-color: transparent;
      scrollbar-gutter: stable;
    }

    *::-moz-scrollbar {
      width: 10px;
      background: transparent;
    }

    *::-moz-scrollbar-thumb {
      background: #353535;
      border-radius: 2px;
    }

    *::-webkit-scrollbar {
      width: 10px;
      background: transparent;
    }

    *::-webkit-scrollbar-thumb {
      background: #353535;
      border-radius: 2px;
    }
  </style>
  <body>
    <div class="flex h-fit min-h-screen flex-col gap-y-6 font-sans">
      <Header />
      <main class="grow">
        <div
          class={cn(
            'mx-auto flex grow flex-col gap-y-6 px-4',
            !isWide && 'max-w-3xl',
          )}
        >
          <slot />
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
